@font-face {
  font-family: vcr;
  src: url(vcr.ttf) format('truetype');
}

body {
  background-color: teal;
  font-family: vcr;
  margin: 0;
}

button {
  font-family: vcr;
  background-color: silver;
  border: white 5px outset;
  color: white;
  text-shadow: 2px 2px gray;
  border-radius: 3px;
}

button:hover {
  background-color: gray;
  border-color: silver;
  text-shadow: 2px 2px black;
}

button:active {
  background-color: cyan;
  color: white;
  text-shadow: 2px 2px teal;
  border-color: cyan;
}

h1.title {
  font-size: 100px;
  text-align: center;
  color: white;
  text-shadow: 5px 5px silver;
  width: 500px;
  margin: auto;
}

.menu {
  width: 500px;
  margin: auto;
  margin-top: 25px;
}

.menu-item {
  font-size: 30px;
  padding: 15px;
  margin-bottom: 10px;
  width: 500px;
}

.edit-screen {
  display: flex;
}

.edit-screen .files {
  width: 50%;
  height: 30%;
  background-color: silver;
  border-bottom: 4px white ridge;
  border-right: 2px white ridge;
  padding: 10px;
  overflow: auto;
}

.edit-screen .preview {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 30%;
  padding: 10px;
  background-color: gray;
  border-bottom: 4px white ridge;
  border-left: 2px white ridge;
}

.edit-screen .preview video {
  max-width: 800px;
  max-height: 600px;
  width: auto;
  height: 100%;
  background-color: black;
}
